# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# pytest
.pytest_cache/

# coverage
.coverage
htmlcov/

# packaging
build/
dist/
*.egg-info/

# logs
*.log

# outputs
out/
output/
